<div
    #viewport
    class="viewport"
    (mousemove)="handleMouseMove($event)"
    (mousedown)="handleMouseDown($event)"
    (mouseup)="handleMouseUp($event)"
    >

    <div #tray class="tray">
        <div class="tile">
            <div>1</div>
        </div>

        <div class="tile">
            <div>2</div>
        </div>

        <div class="tile">
            <div>3</div>
        </div>

        <div class="tile">
            <div>4</div>
        </div>

        <div class="tile">
            <div>5</div>
        </div>

        <div class="tile">
            <div>6</div>
        </div>
    </div>

</div>
